@CHARSET "UTF-8";

.btn.cpanel_button {
	height: 64px;
	width: 64px;
	position: relative;
	padding: 0;
	margin: 50px;
	margin-left: 0;
}

span.cpanel_button_label {
	position: absolute;
	width: 150%;
	text-align: center;
	left: -25%;
	top: calc(100% + 5px);
	color: #333;
	text-shadow: none;
}

span.cpanel_button_image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
}

.btn.cpanel_button.pull-right {
	margin: 5px;
}

.form-container, #list-schedule-d {
	display: none;
}

.form-container.enabled, #list-schedule-d.enabled {
	display: inline-block;
	width: 100%;
}

.form-container input {
	vertical-align: initial;
}

.form-container>form {
	margin-top: 100px;
}

.form-container section, #list-schedule-d section {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	padding: 20px;
	margin: 5px;
	position: relative;
}

.form-container input[type="text"], .form-container input[type="date"],
	.form-container input[type="number"], .form-container input[type="email"],
	.form-container input[type="tel"] {
	margin: 0;
	float: right;
}

.form-container span.lbl {
	float: left;
}

.form-container label {
	width: 380px;
	display: inline-table;
	margin: 0 5px 5px 0;
	line-height: 28px;
	margin-right: 60px;
}

.form-container label.pull-right {
	text-align: right;
}

.form-container span.group {
	display: inline-table;
}

.form-container span.group>.left, .form-container span.group>.right
	{
	display: inline-table;
	width: 380px;
}

.form-container .jobs span.group>.left, .form-container .jobs span.group>.right
	{
	width: 250px;
}

.form-container h4 {
	margin: 9px 0;
}

.form-container label.longtext {
	text-indent: -20px;
	margin-left: 20px;
}

.form-container span.jobs {
	display: inline-table;
	margin-bottom: 20px;
	width: 100%;
}

.form-container section.job {
	width: 250px;
	padding: 17px;
}

section.job:before, section.job:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: calc(100% + 15px);
	top: 0;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.02);
	box-sizing: border-box;
}

section>section.job:before, section>section.job:after, .two section.job:before,
	.three section.job:after {
	display: none;
}

section.job:after {
	left: calc(200% + 30px);
}

section.job.two {
	display: none;
}

.form-container .two section.job.two {
	display: inline-block;
	position: absolute;
	top: -5px;
	left: calc(100% + 10px);
}

section.job.three {
	display: none;
}

.form-container .three section.job.three {
	display: inline-block;
	position: absolute;
	top: -5px;
	left: calc(200% + 25px);
}

.form-container .jobs .job label {
	width: 250px;
}

.form-container .jobs label {
	margin-right: 25px;
}

.form-container .jobs .job input[type="text"], .form-container .jobs .job input[type="date"],
	.form-container .jobs .job input[type="number"] {
	width: 150px;
}

.form-container span.inline>label, .form-container .job span.inline>label
	{
	display: inline-block;
	width: initial;
	margin-right: 10px;
}

/*integration*/
a.btn.cpanel_button.big {
	width: 144px;
	height: 144px;
}

a.btn.cpanel_button {
	background-image: none;
	border: none;
	border-radius: 0;
}

a.btn.cpanel_button.btn-primary {
	background-color: #01AEEF;
}

a.btn.cpanel_button.btn-success {
	background-color: #FFF200;
}

a.btn.cpanel_button.btn-danger {
	background-color: #EB008B;
}

a.btn.cpanel_button.btn-primary:hover {
	background-color: #0693C7;
}

a.btn.cpanel_button.btn-success:hover {
	background-color: #D8CD04;
}

a.btn.cpanel_button.btn-danger:hover {
	background-color: #B70A70;
}

section.a:after, section.b:after, section.c:after {
	content: "";
	width: 150px;
	height: 4px;
	background-color: #EB008B;
	position: absolute;
	top: 0;
	left: 0;
}

section.b:after {
	background-color: #FFF200;
}

section.c:after {
	background-color: #01AEEF;
}

section.a hr {
	border-bottom: 1px solid #EB008B;
}

section.b hr {
	border-bottom: 1px solid #FFF200;
}

section.c hr {
	border-bottom: 1px solid #01AEEF;
}

section.min {
    height: 10px;
  
}
section.min>* {
    visibility: hidden;
    pointer-events: none;
}


.warning {
    float: left;
    height: 64px;
    background-color: #F8EAF2;
    line-height: 64px;
    padding: 0 30px;
    width: 50%;
    border-radius: 4px;
    margin: 5px;
    color: rgb(235, 0, 139);
    position:relative;
}

.warning:after {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #F8EAF2;
    content: "";
    position: absolute;
    bottom: -28px;
    left: 26px;
}


.warning .btn {
    position: absolute;
    height: 64px;
    width: 80px;
    padding: 0;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    line-height: 64px;
}


section.h4-bar>h4:first-child {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    margin-top: 0;
    background-color: #01AEEF;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    color: white;
    font-weight: 400;
}
section.h4-bar>h4:first-child + h4 {
    margin-top: 0;
}

.form-container section.h4-bar {
    padding-top: 55px;
}

/*list*/

.timeago {
    font-size: 10px;
    color: cadetblue;
}

span.form-value-empty {
    color: slategrey;
}

.scheduled-item>span {
    padding-right: 5px;
}

span.data-agency-name, span.data-participant-first-name {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    vertical-align: text-bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scheduled-item {
    padding: 5px;
}

.scheduled-item:hover {
    background-color: rgba(0,0,0,0.02);
}

.scheduled-item>.btn {
    width: 3px;
    height: 12px;
    margin: 0 5px;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
}
.scheduled-item>.btn:hover, .scheduled-item>.btn:focus{
	background-position: center;
}

.scheduled-item>.btn-primary {
    float: left;
}


.popover>.tip, .bubble {
    background-color: white;
    color: #01AEEF;
    text-shadow: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    border-radius: 50px;
    border: 1px solid #01AEEF;
    
}
.popover.arrow_bottom .tip:before{
	
    bottom: 11px;

    z-index: -1;
	
}


.subforms-list {
    margin: 20px 50px;
}

.subforms-list .data-agency-name, .subforms-list .data-participant-first-name {
    display: none;
}

.subforms-list>li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 14px;
}

.subforms-list>li>span {
    padding-right: 5px;
}

.subform-quarterly {
    background-color: rgba(255, 242, 0, 0.4);
}

.subform-addendum{
    background-color: rgba(235, 0, 139, 0.2);
}


.subforms-list span.btn, .subforms-list span.btn:hover {
    background-color: transparent;
    box-shadow: none;
    height: 9px;
    background-position: center;
}
