@CHARSET "UTF-8";

.btn.cpanel_button {
	height: 64px;
	width: 64px;
	position: relative;
	padding: 0;
	margin: 50px;
	margin-left: 0;
}

span.cpanel_button_label {
	position: absolute;
	width: 150%;
	text-align: center;
	left: -25%;
	top: calc(100% + 5px);
	color: #333;
	text-shadow: none;
}

span.cpanel_button_image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
}

.btn.cpanel_button.pull-right {
	margin: 5px;
}

#new-rwa-schedule-d, #list-schedule-d {
	display: none;
}

#new-rwa-schedule-d.enabled, #list-schedule-d.enabled {
	display: inline-block;
	width: 100%;
}

#new-rwa-schedule-d input {
	vertical-align: initial;
}

#new-rwa-schedule-d>form {
	margin-top: 100px;
}

#new-rwa-schedule-d section, #list-schedule-d section {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	padding: 20px;
	margin: 5px;
	position:relative;
}



#new-rwa-schedule-d input[type="text"] {
	margin: 0;
}

#new-rwa-schedule-d span.lbl {
	float: left;
}

#new-rwa-schedule-d input[type="text"] {
	float: right;
}

#new-rwa-schedule-d label {
	width: 380px;
	display: inline-table;
	margin: 0 5px 5px 0;
	line-height: 28px;
	margin-right: 60px;
}

#new-rwa-schedule-d label.pull-right {
	text-align: right;
}

#new-rwa-schedule-d span.group {
    display: inline-table;
}

#new-rwa-schedule-d span.group>.left, #new-rwa-schedule-d span.group>.right {
    display: inline-table;
    
}

#new-rwa-schedule-d .jobs span.group>.left, #new-rwa-schedule-d .jobs span.group>.right{
	width: 250px;
}

#new-rwa-schedule-d h4 {
    margin: 9px 0;
}




#new-rwa-schedule-d label.longtext {
    text-indent: -20px;
    margin-left: 20px;
}


#new-rwa-schedule-d span.jobs {
    display: inline-table;
    margin-bottom: 20px;
}

#new-rwa-schedule-d .jobs .job label {
	width: 250px;
}
#new-rwa-schedule-d .jobs label {
    margin-right: 25px;
}

#new-rwa-schedule-d .jobs .job input[type="text"] {
    width: 150px;
}


#new-rwa-schedule-d span.inline>label, #new-rwa-schedule-d .job span.inline>label {
    display: inline-block;
    width: initial;
    margin-right: 10px;
}

/*integration*/

a.btn.cpanel_button.big{
    width: 144px;
    height: 144px;

   
}

a.btn.cpanel_button{

    background-image: none;
    border: none;
    border-radius: 0;
   
}

a.btn.cpanel_button.btn-primary{
	background-color: #01AEEF;
	
}
a.btn.cpanel_button.btn-success{
	background-color: #FFF200;
}
a.btn.cpanel_button.btn-danger{
	background-color: #EB008B;
}

a.btn.cpanel_button.btn-primary:hover{
	background-color: #0693C7;
	
}
a.btn.cpanel_button.btn-success:hover{
	background-color: #D8CD04;
	
}
a.btn.cpanel_button.btn-danger:hover{
	background-color:#B70A70;
	
}


section.a:after, section.b:after, section.c:after {
    content: "";
    width: 150px;
    height: 4px;
    background-color: #EB008B;
    position: absolute;
    top: 0;
    left: 0;
}
section.b:after{
	background-color: #FFF200;
}

section.c:after{
	background-color: #01AEEF;
}


section.a hr {
    border-bottom: 1px solid #EB008B;
}

section.b hr {
    border-bottom: 1px solid #FFF200;
}

section.c hr {
    border-bottom: 1px solid #01AEEF;
}