
<section>

	<label> Quarter <input id="stats-quarter" type="number" name="stats-quarter" value="8"></label>



	<h3>1. The total number of new PIF baselines tagged Q<span class="q-label">?</span></h3>
	<div id="stat-total-quarter">Total PIF's Q<span class="q-label">?</span>: 0</div>
	





	<h3>2.  The total number of new PIF baselines tagged Q<span class="q-label">?</span>, grouped by P/T’s (so easiest to probably sort by ID PT tags…i.e. NL-001… NS-001… etc)</h3>
	<div id="stat-total-quarter-grouped">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory</div>
		<div id="stat-total-quarter-grouped-empty" style="padding-left: 10px; color: gray; ">P/T: 0</div>
	</div>
	






	<h3>3.  The total number of new PIF Q<span class="q-label">?</span> baselines, grouped by P/T and then sorted into "over 15 hrs/wk" and "under 15 hrs/wk”: Under Employment initial activites “hours per week worked” </h3>
	<div id="stat-total-quarter-grouped-over">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory over 15 hrs/wk</div>
		<div id="stat-total-quarter-grouped-empty-over" style="padding-left: 10px; color: gray; ">P/T: 0</div>
	</div>

	<div id="stat-total-quarter-grouped-under">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory under 15 hrs/wk</div>
		<div id="stat-total-quarter-grouped-empty-under" style="padding-left: 10px; color: gray; ">P/T: 0</div>
	</div>







	<h3>4.  The number of new PIF Q<span class="q-label">?</span> baselines, (grouped by P/T, and sorted into "over 15 hrs/wk" and "under 15 hrs/wk”) that required supports paid for by RWA: So any that answered “yes” to “Did this person require supports”, and then answered “no” to "Were these supports funded by generic/agency sources?"</h3>
	<div id="stat-total-quarter-grouped-over-required">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory over 15 hrs/wk that required supports paid for by RWA</div>
		<div id="stat-total-quarter-grouped-empty-over-required" style="padding-left: 10px; color: gray; ">P/T: 0</div>
	</div>

	<div id="stat-total-quarter-grouped-under-required">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory under 15 hrs/wk that required supports paid for by RWA</div>
		<div id="stat-total-quarter-grouped-empty-over-required" style="padding-left: 10px; color: gray; ">P/T: 0</div>
	</div>







	<h3>5.  The total dollar cost of those that needed supports paid for RWA (grouped by P/T, sorted in hours per week): So basically whatever numbers are entered in the “Total dollar request” for any and all of the support options (Job coach, transport etc).  </h3>
	<div id="stat-total-quarter-grouped-over-dollar">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory over 15 hrs/wk that required supports paid for by RWA</div>
		<div id="stat-total-quarter-grouped-empty-over-dollar" style="padding-left: 10px; color: gray; ">P/T: 0$</div>
	</div>

	<div id="stat-total-quarter-grouped-under-dollar">
		<div>Total PIF's Q<span class="q-label">?</span> Grouped by Province/Territory under 15 hrs/wk that required supports paid for by RWA</div>
		<div id="stat-total-quarter-grouped-empty-under-dollar" style="padding-left: 10px; color: gray; ">P/T: 0$</div>
	</div>


	<div id="stat-errors"></div>

</section>